* {
  box-sizing: border-box;
}

/* Restablecer márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
}

/* Restablecer listas */
ul,
ol {
  list-style: none;
}

/* Restablecer enlaces */
a {
  text-decoration: none;
}

/* Restablecer encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Restablecer imágenes */
img {
  border: 0;
}

/* Restablecer tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Restablecer formularios */
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* end reset css */

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: green;
}

.header {
  background-image: linear-gradient(to bottom, black, red);
  color: #fff;
  padding: 15px 5px;
  border-bottom: 3px solid gold;
}

.header h1 {
  font-weight: 900;
  /* text-align: center; */
}

.headerContainer {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link, .activeLink {
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.activeLink {
  color: gold;
  font-weight: bold;
}

.main {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rouletteTable {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1px;
}

.tableNumber {
  font-size: 1.5rem;
  font-weight: bold;
  width: 55px;
  text-align: center;
  height: 55px;
  cursor: pointer;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
}

.tableNumber:hover {
  opacity: 0.5;
}

.tableNumber:active {
  transform: scale(0.8);
}

.tableNumber:nth-child(12n) {
  margin-bottom: 5px;
}

.tableSection {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

hr {
  width: 100%;
  margin: 2px 0;
}

.winningNumberContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 5px;
}

.winningTitleDisabled {
  opacity: 0.3;
}

.winningNumber {
  font-size: 1.2rem;
  font-weight: bold;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid lightgray;
  position: relative;
  background-color: #fff;
}

.winningNumberCount {
  font-size: 0.6rem;
  position: absolute;
  top: 0px;
  right: 2px;
}

.winningNumberLeftPosition {
  font-size: 0.7rem;
}

.winningSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.winningForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.winningNumberInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.winningNumberInput:disabled {
  opacity: 0.3;
}

.winningNumberButton {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
.winningNumberButton:disabled {
  opacity: 0.4;
}

.winningNumberButton:hover {
  background-color: rgb(200, 200, 200);
  outline: none;
}

.generateWinningNumberButton {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.generateWinningNumberButton:hover {
  background-color: rgb(200, 200, 200);
  outline: none;
}

.moneySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px lightgray solid;
  border-radius: 10px;
  padding: 20px 12px;
  background-color: #fff;
}

.moneyNumber {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.moneyForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.moneyInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.moneyWinInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.moneyLoseInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.moneyButton {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.moneyButton:hover {
  background-color: rgb(200, 200, 200);
  outline: none;
}

.showWinningNumber {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
}

.chipsRadioList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: none;
}

.chipsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 1px lightgray solid;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #fff;
}

.chipRadio {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.clearRouletteTableButton {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.gold-border {
  border: 3px solid gold;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.green {
  background-color: lightgreen;
}
.green p {
  font-weight: 400;
}

.colorRed {
  color: red;
  font-weight: bold;
}
