* {
  box-sizing: border-box;
}

/* Restablecer márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
}

/* Restablecer listas */
ul,
ol {
  list-style: none;
}

/* Restablecer enlaces */
a {
  text-decoration: none;
}

/* Restablecer encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Restablecer imágenes */
img {
  border: 0;
}

/* Restablecer tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Restablecer formularios */
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* end reset css */

.main {
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableNumber {
  font-size: 1.5rem;
  font-weight: bold;
  width: 48px;
  text-align: center;
  height: 48px;
}

.tableSection {
  /* margin: 0 auto; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

hr {
  width: 100%;
  margin: 2px 0;
}

.winningNumberContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
}

.winningNumber,
.winningNumberTag {
  font-size: 1.2rem;
  font-weight: bold;
  width: 50px;
  text-align: center;
  /* height: 20px; */
}

.winningSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.winningForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.winningNumberInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.winningNumberButton {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.winningNumberButton:hover {
  background-color: rgb(200, 200, 200);
  outline: none;
}

.moneyForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.moneyInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.moneyWinInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.moneyLoseInput {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.moneyButton {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.moneyButton:hover {
  background-color: rgb(200, 200, 200);
  outline: none;
}

.showWinningNumber {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
