* {
  box-sizing: border-box;
}

/* Restablecer márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
}

/* Restablecer listas */
ul,
ol {
  list-style: none;
}

/* Restablecer enlaces */
a {
  text-decoration: none;
}

/* Restablecer encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Restablecer imágenes */
img {
  border: 0;
}

/* Restablecer tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Restablecer formularios */
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* end reset css */
